body {
    margin: 0;
    text-align: center;
}

.profile {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}
.contact_1 a {
    color: black;
    text-shadow: none;
}

.contact_1 h3 {
    display: inline;

}

#contact iframe {
    width: 100%;

}

#contact {
    background-color: firebrick;
}

.my_nav_bar {
    position: sticky;
    top: 0;
    z-index: 99999;
    text-shadow: none;
}
html{
scroll-behavior: smooth    
}